@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-size {
  width: 64px;
  font-weight: bold;
}

.tile {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: rgba(107, 114, 128, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
}

.tile:hover {
  cursor: pointer;
  opacity: 0.7;
}
